@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import "styles/cssreset.css";
@import "styles/hero.css";
@import "styles/preface.css";
@import "styles/action.css";
@import "styles/discaya.css";
@import "styles/infographic.css";
@import "styles/nav.css";
@import "styles/upuan.css";

@font-face {
  font-family: "Futura Hv";
  src: url("fonts/futurastd-heavy-webfont.woff2") format("woff2"),
    url("fonts/futurastd-heavy-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura Md";
  src: url("fonts/futurastd-medium-webfont.woff2") format("woff2"),
    url("fonts/futurastd-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Beni Black";
  src: local("Beni Black"), local("Beni-Black"),
    url("fonts/BeniBlack.woff2") format("woff2"),
    url("fonts/BeniBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Beni Bold";
  src: local("Beni Bold"), local("Beni-Bold"),
    url("fonts/BeniBold.woff2") format("woff2"),
    url("fonts/BeniBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Impact";
  src: url("fonts/Impact.ttf") format("truetype");
  font-display: swap; /* improves loading behavior */
}

:root {
  --type-xxs: 0.236rem; /* ~3.78px  */
  --type-xs: 0.382rem; /* ~6.11px  */
  --type-sm: 0.618rem; /* ~9.89px  */
  --type-base: 16px; /* 16px    */
  --type-lg: 1.618rem; /* ~25.89px*/
  --type-xl: 2.618rem; /* ~41.89px*/
  --type-2xl: 4.236rem; /* ~67.78px*/
  --type-3xl: 6.854rem; /* ~109.66px*/
  --type-4xl: 11.09rem; /* ~177.44px*/

  --leading-tight: 1.1;
  --leading-snug: 1.25;
  --leading-normal: 1.45;

  --base-white: #fffbf7;
  --base-white-muted: #cfcac5;
  --base-black: #1a1816;
  --accent: #ee4040;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--type-base);
  font-family: "Merriweather", serif;
  background-color: #ecdfcc;
}

p {
  margin-top: 0.6em;
}

button {
  background-color: var(--accent);
  font-family: "Futura Md";
  border: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99999;
  padding: 0.5em;
  cursor: pointer;
  color: var(--base-white);
  margin: 2em;
  transition: transform 0.15s ease;
  box-shadow: -1px 9px 36px -9px rgba(0, 0, 0, 0.41);
}
#floatingAside {
  transition: opacity 0.4s ease;
  pointer-events: auto;
}
#floatingAside.hidden {
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

button:active {
  transform: scale(0.95);
  background-color: #e65f5f;
}

main {
  overflow: hidden;
}

.padding-inline-1 {
  padding-inline: 4em;
}

.line-height-1 {
  line-height: var(--leading-tight);
}
.line-height-2 {
  line-height: 2;
}

.text-head {
  font-family: "Impact";
  font-size: var(--type-3xl);
}

.text-white {
  color: var(--base-white);
}
.text-black {
  color: var(--base-black);
}

footer {
  background-color: #0d0800;
  padding: 2em;
  color: var(--base-white);
  display: flex;
  justify-content: space-between;
  font-family: "Futura Hv";
  align-items: center;
}

footer span,
footer h1 {
  font-size: var(--type-base);
}

footer span:first-of-type {
  font-size: 14px;
  display: flex;
  gap: .7em;
  align-items: center;
}

.futura-md {
  font-family: "Futura Md";
}

.reference {
  color: inherit;
  transition: color 200ms;
  
}

.reference:hover {
  color: var(--accent);
}