@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");
@import "styles/cssreset.css";
@import "styles/hero.css";
@import "styles/preface.css";
@import "styles/action.css";
@import "styles/discaya.css";
@import "styles/infographic.css";
@import "styles/nav.css";
@import "styles/upuan.css";

@font-face {
  font-family: "Futura Hv";
  src: url("fonts/Futura Heavy font.ttf") format("truetype");
  font-display: swap; /* improves loading behavior */
}

@font-face {
  font-family: "Futura Md";
  src: url("fonts/futura medium bt.ttf") format("truetype");
  font-display: swap; /* improves loading behavior */
}

@font-face {
  font-family: "Beni Black";
  src: url("fonts/BeniBlack.ttf") format("truetype");
  font-display: swap; /* improves loading behavior */
}

@font-face {
  font-family: "Beni Bold";
  src: url("fonts/BeniBold.ttf") format("truetype");
  font-display: swap; /* improves loading behavior */
}

@font-face {
  font-family: "Impact";
  src: url("fonts/Impact.ttf") format("truetype");
  font-display: swap; /* improves loading behavior */
}

:root {
  --type-xxs: 0.236rem; /* ~3.78px  */
  --type-xs: 0.382rem; /* ~6.11px  */
  --type-sm: 0.618rem; /* ~9.89px  */
  --type-base: 1rem; /* 16px    */
  --type-lg: 1.618rem; /* ~25.89px*/
  --type-xl: 2.618rem; /* ~41.89px*/
  --type-2xl: 4.236rem; /* ~67.78px*/
  --type-3xl: 6.854rem; /* ~109.66px*/
  --type-4xl: 11.09rem; /* ~177.44px*/

  --leading-tight: 1.1;
  --leading-snug: 1.25;
  --leading-normal: 1.45;

  --base-white: #fffbf7;
}

body {
  font-size: var(--type-base);
  font-family: "Merriweather", serif;
  background-color: #ecdfcc;
}

button {
  background-color: #ee4040;
  font-family: "Futura Md";
  border: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99999;
  padding: 0.5em;
  cursor: pointer;
  color: #ecdfcc;
  margin: 2em;
  transition: transform 0.15s ease;
  box-shadow: -1px 9px 36px -9px rgba(0, 0, 0, 0.41);
}

button:active {
  transform: scale(0.95);
  background-color: #e65f5f;
}

main {
  overflow: hidden;
}
