.action {
  background-color: #1a1816;
  color: var(--base-white);
  padding: 10em 0;
}
.action .head {
  display: grid;
  place-items: center;
}
.action .head h1 {
  font-size: var(--type-3xl);
  font-family: "Impact";
  line-height: 1.1;
}

.action .head .title h1:nth-child(1) span {
  background-color: var(--accent);
}

.action .head .title h1:nth-child(2) {
  opacity: .7;
}

.action .head .title h1:nth-child(3) {
  opacity: .5;
}

.action .head h2 {
  font-size: var(--type-lg);
}

.action .head .display .sub {
  display: flex;
  font-family: "Futura Md";
  justify-content: space-between;
}

.action .head .display {
  width: fit-content;
  margin: auto;
  grid-column: 1;
  grid-row: 1 /3;
  align-self: self-start;
}
.action .head img {
  margin: auto;
  grid-column: 1;
  grid-row: 1/4;
  align-self: self-end;
  padding-top: 5em;
  width: 66em;
}
.action .head img:first-of-type {
  position: relative;
  z-index: 1;
}

.action .head img:last-of-type {
  scale: 1.6;
}
.action .intro {
  padding-top: 1em;
  max-width: 40em;
  margin: auto;
  line-height: 2;
}

.action .action-1 h1,
.action .action-2 h1,
.action .action-3 h1 {
  font-size: var(--type-xl);
  font-family: "Impact";
  line-height: var(--leading-tight);
  margin-bottom: 0.5em;
  max-width: 22em;
}

.action .action-2 {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.actions {
  max-width: 72em;
  margin: auto;
  padding-top: 7em;
  display: flex;
  flex-direction: column;
  gap: 8em;
  margin-top: 10em;
}

.action .action-1,
.action .action-2,
.action .action-3 {
  /* margin: auto; */
}

.action .action-1 > div,
.action .action-2 > div,
.action .action-3 > div {
  display: flex;
  flex-direction: row;
}

.action .action-1 > div > img,
.action .action-3 > div > img {
  opacity: 0.6;
  margin-top: -10em;
  transform: translateX(22%);
}

.action .action-2 > div > img {
  margin-top: -3em;
  opacity: 0.6;
  transform: translateX(-32%);
}

.action .action-1 p,
.action .action-2 p,
.action .action-3 p {
  max-width: 50em;
}
