nav {
  background-color: #0d0800;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 9999;
}
nav ul {
  list-style-type: none;
  display: flex;
  max-width: 80em;
  margin: auto;
  justify-content: space-around;
}
nav a {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: "Futura Md";
  font-weight: 400;
  color: var(--base-white);
  text-decoration: none;
}