.preface {
  background-color: #1a1816;
  color: var(--base-white);
  overflow: hidden;
  position: relative;
}

.preface video {
  position: absolute;
  inset: 0;
  mix-blend-mode: screen;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: .6;
}

.preface::before {
  content: "";
  /* mix-blend-mode: difference; */
  position: absolute;
  background: url("../images/dark cloud.png") no-repeat -30em -17em/contain, url("../images/dark cloud.png") no-repeat 55em -25em/contain;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100em;
}

.preface .content {
  max-width: 85em;
  padding: 10em 0;
  margin: auto;
}
.preface .content::before {
    content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: url("../images/Rectangle 10.svg") no-repeat center/cover;
}

.preface h1 {
  font-family: "Impact";
  font-size: var(--type-4xl);
  line-height: var(--leading-tight);
  position: relative;
  z-index: 10;
  text-shadow: 3px 2px 7px rgba(0, 0, 0, 0.17);
}

.preface h1 > span {
  position: relative;
}
.preface h1 > span span:nth-child(1),
.preface h1 > span span:nth-child(2),
.preface h1 > span span:nth-child(3) {
  position: absolute;
  color: #408bee;
  opacity: .6;
}

.preface h1 > span span:nth-child(1) {
  animation: wave 3s ease-in-out infinite;
}
.preface h1 > span span:nth-child(2) {
  animation: wave 2s ease-in-out infinite;
  opacity: .3;
}
.preface h1 > span span:nth-child(3) {
  animation: wave 6s ease-in infinite;
  opacity: .5;
}

@keyframes wave {
  0%, 100% {
    clip-path: polygon(0% 46%, 16% 45%, 34% 52%, 50% 61%, 68% 65%, 85% 61%, 100% 53%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(0 59%, 18% 67%, 36% 70%, 51% 66%, 66% 56%, 82% 49%, 100% 45%, 100% 100%, 0% 100%);
  }
}

.preface h2 {
  font-family: "Futura Md";
  font-size: var(--type-xl);
  margin-top: 0.5em;
  max-width: 20em;
}
.preface h2 > span {
  font-family: "Futura Hv";
}

.preface p {
  line-height: 2;
  max-width: 45em;
  padding-top: 30em;
  margin-left: auto;
  position: relative;
  z-index: 10;
}

.preface p::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10%;
  aspect-ratio: 1 / 1; /* keep it square */
  width: 80%;
  background: url("../images/flood gallery 1.png") no-repeat center/contain;
}

.preface .source {
  display: block;
  margin-top: 1em;
  font-size: var(--type-sm);
  font-style: italic;
  opacity: 0.87;
  position: relative;
  z-index: 10;
}

.preface {
  position: relative;
  z-index: 100;
}

.preface::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-size: contain;
  background: url("../images/flood bg.png") no-repeat center/cover;
  background-repeat: no-repeat;
  background-position: center;
}